*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;  
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}

.left{
    width: 300px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
}

.drawers{
    width: 370px;
    /* height: 300px; */
    /* height: 300px; */
    object-fit: cover;
}

.right{
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 0px 20px 20px 0px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    color: hsl(217, 19%, 35%);
}

.desc{
    color: hsl(214, 17%, 51%);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.section img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.namedate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.date{
    color: hsl(212, 23%, 69%);
}

.btn{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.share{
    height: 20px;
    width: 20px;
}

.btn:hover{
    cursor: pointer;
}

.popup{
    display: none;
    justify-content: space-around;
    align-items: center;
    position: relative;  
    left: 240px;
    bottom: 130px;
    height: 100px;
    width: 270px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    z-index: 1;
    padding: 15px;
}

.show{
    display: flex;
}

.popup p{
    color: hsl(212, 23%, 69%);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media{
    display: flex;
    gap: 15px;
}

.social-media img:hover{
    cursor: pointer;
}

.popupbtn{
    display: none;
}

@media screen and (max-width: 375px)  {
    .container{
        flex-direction: column;
    }
    
    .left{
        width: 330px;
        overflow: visible;
    }
    
    .drawers{
        width: 330px;
        height: 300px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    
    .right{
        width: 330px;
        height: 300px;
        border-radius: 0px 0px 20px 20px;
        padding: 40px 30px;
    }
    
    .header{
        font-size: large;
    }
    
    .popup{
        display: none;
        justify-content: space-around;
        align-items: center;
        position: relative;  
        left: -30px;
        bottom: 75px;
        height: 100px;
        width: 330px;
        background-color: hsl(217, 19%, 35%);
        border-radius: 0px 0px 10px 10px;
        z-index: 1;
        padding: 15px 0px;
    }

    .popupbtn{
        display: block;
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
    
    .show{
        display: flex;
    }
    
    .popup p{
        color: hsl(212, 23%, 69%);
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    
    .social-media{
        display: flex;
        gap: 15px;
    }
}