*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(27, 66%, 92%);
    gap: 20px;
}

.top{
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 30px;
    background-color: hsl(10, 79%, 65%);
    border-radius: 20px;
    color: white;
}

.bottom{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
}

.graph{
    display: flex;  
    border-bottom: 2px solid hsl(33, 100%, 98%) ;
    justify-content: space-between;
    padding-bottom: 20px;
    height: 200px;
    align-items: end;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.value{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.value h1{
    font-size: xxx-large;
}

.growth{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.percent{
    text-align: right;
    font-weight: bold;
}

.bar{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.diagram{
    border-radius: 5px;
    cursor: pointer;
}

.diagram:hover{
    opacity: 0.7;
}

.text{
    color: hsl(25, 47%, 15%);
}

.heads{
    color: hsl(28, 10%, 53%);
}